In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.option_context('float_format','{:.2f}'.format)

In [2]:
census_data = pd.read_csv("CENSUS_DATA.csv")

In [3]:
chicago_schools = pd.read_csv("CHICAGO_PUBLIC_SCHOOLS.csv")

In [4]:
chicago_crime = pd.read_csv("CHICAGO_CRIME_DATA.csv")

### Problem 1: Find the total number of crimes recorded in the CRIME table.

In [5]:
chicago_crime

           ID CASE_NUMBER                    DATE                     BLOCK  IUCR                      PRIMARY_TYPE                                  DESCRIPTION          LOCATION_DESCRIPTION  ARREST  DOMESTIC  BEAT  DISTRICT  WARD  COMMUNITY_AREA_NUMBER FBICODE  X_COORDINATE  Y_COORDINATE  YEAR               UPDATEDON   LATITUDE  LONGITUDE                       LOCATION
0     3512276    HK587712  08/28/2004 05:50:56 PM        047XX S KEDZIE AVE   890                             THEFT                                FROM BUILDING            SMALL RETAIL STORE   False     False   911         9  14.0                   58.0       6     1155838.0     1873050.0  2004  02/10/2018 03:50:01 PM  41.807441 -87.703956    (41.8074405, -87.703955849)
1     3406613    HK456306  06/26/2004 12:40:00 PM  009XX N CENTRAL PARK AVE   820                             THEFT                               $500 AND UNDER                         OTHER   False     False  1112        11  27.0                   23.0       6     1152206.0     1906127.0  2004  02/28/2018 03:56:25 PM  41.898280 -87.716406  (41.898279962, -87.716405505)
2     8002131    HT233595  04/04/2011 05:45:00 AM        043XX S WABASH AVE   820                             THEFT                               $500 AND UNDER  NURSING HOME/RETIREMENT HOME   False     False   221         2   3.0                   38.0       6     1177436.0     1876313.0  2011  02/10/2018 03:50:01 PM  41.815933 -87.624642  (41.815933131, -87.624642127)
3     7903289    HT133522  12/30/2010 04:30:00 PM      083XX S KINGSTON AVE   840                             THEFT                FINANCIAL ID THEFT: OVER $300                     RESIDENCE   False     False   423         4   7.0                   46.0       6     1194622.0     1850125.0  2010  02/10/2018 03:50:01 PM  41.743665 -87.562463  (41.743665322, -87.562462756)
4    10402076    HZ138551  02/02/2016 07:30:00 PM           033XX W 66TH ST   820                             THEFT                               $500 AND UNDER                         ALLEY   False     False   831         8  15.0                   66.0       6     1155240.0     1860661.0  2016  02/10/2018 03:50:01 PM  41.773455 -87.706480  (41.773455295, -87.706480471)
..        ...         ...                     ...                       ...   ...                               ...                                          ...                           ...     ...       ...   ...       ...   ...                    ...     ...           ...           ...   ...                     ...        ...        ...                            ...
528  10453948    HZ192829  03/01/2016 12:00:00 AM           028XX E 79TH ST  1055                 HUMAN TRAFFICKING                        INVOLUNTARY SERVITUDE                     APARTMENT   False     False   422         4   7.0                   46.0      26     1196679.0     1853139.0  2016  02/10/2018 03:50:01 PM  41.751885 -87.554826  (41.751885152, -87.554825997)
529  10397129    HZ133234  01/29/2016 03:30:00 PM       006XX W HARRISON ST  5114                    NON - CRIMINAL                            FOID - REVOCATION                        STREET   False     False   124         1   2.0                   28.0      26     1172257.0     1897564.0  2016  02/10/2018 03:50:01 PM  41.874363 -87.643013  (41.874363279, -87.643013039)
530   3269495    HJ747227  11/08/2003 04:54:15 PM           012XX W 81ST ST   510                         RITUALISM  AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY                         OTHER   False     False   612         6  21.0                   71.0     04B     1169648.0     1851076.0  2003  02/28/2018 03:56:25 PM  41.746852 -87.653941  (41.746852486, -87.653941385)
531  10840565    JA143710  02/06/2017 01:20:00 PM        009XX N KARLOV AVE  5073  NON-CRIMINAL (SUBJECT SPECIFIED)       NOTIFICATION OF CIVIL NO CONTACT ORDER                     RESIDENCE   False      True  1111        11  37.0                   23.0      26     1148881.0     1905963.0  2017  02/14/2017 03:49:42 PM  41.897895 -87.728622   (41.89789489, -87.728622316)
532   1326195     G021609  01/11/2001 02:30:41 AM       087XX S ESCANABA AV  9901                 DOMESTIC VIOLENCE                            DOMESTIC VIOLENCE                     APARTMENT    True      True   423         4   NaN                    NaN     08B     1196869.0     1847416.0  2001  08/17/2015 03:03:40 PM  41.736176 -87.554320   (41.73617608, -87.554319607)

[533 rows x 22 columns]

In [6]:
len(chicago_crime)

533

### Problem 2: List community areas with per capita income less than 11000

In [7]:
census_data

    COMMUNITY_AREA_NUMBER COMMUNITY_AREA_NAME  PERCENT OF HOUSING CROWDED  PERCENT HOUSEHOLDS BELOW POVERTY  PERCENT AGED 16+ UNEMPLOYED  PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA  PERCENT AGED UNDER 18 OR OVER 64  PER_CAPITA_INCOME   HARDSHIP_INDEX
0                     1.0         Rogers Park                         7.7                              23.6                          8.7                                          18.2                              27.5               23939            39.0
1                     2.0          West Ridge                         7.8                              17.2                          8.8                                          20.8                              38.5               23040            46.0
2                     3.0              Uptown                         3.8                              24.0                          8.9                                          11.8                              22.2               35787            20.0
3                     4.0      Lincoln Square                         3.4                              10.9                          8.2                                          13.4                              25.5               37524            17.0
4                     5.0        North Center                         0.3                               7.5                          5.2                                           4.5                              26.2               57123             6.0
..                    ...                 ...                         ...                               ...                          ...                                           ...                               ...                 ...             ...
73                   74.0     Mount Greenwood                         1.0                               3.4                          8.7                                           4.3                              36.8               34381            16.0
74                   75.0         Morgan Park                         0.8                              13.2                         15.0                                          10.8                              40.3               27149            30.0
75                   76.0              O'Hare                         3.6                              15.4                          7.1                                          10.9                              30.3               25828            24.0
76                   77.0           Edgewater                         4.1                              18.2                          9.2                                           9.7                              23.8               33385            19.0
77                    NaN             CHICAGO                         4.7                              19.7                         12.9                                          19.5                              33.5               28202             NaN

[78 rows x 9 columns]

In [8]:
census_data[census_data["PER_CAPITA_INCOME "] < 11000]

    COMMUNITY_AREA_NUMBER COMMUNITY_AREA_NAME  PERCENT OF HOUSING CROWDED  PERCENT HOUSEHOLDS BELOW POVERTY  PERCENT AGED 16+ UNEMPLOYED  PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA  PERCENT AGED UNDER 18 OR OVER 64  PER_CAPITA_INCOME   HARDSHIP_INDEX
25                   26.0  West Garfield Park                         9.4                              41.7                         25.8                                          24.5                              43.6               10934            92.0
29                   30.0      South Lawndale                        15.2                              30.7                         15.8                                          54.8                              33.8               10402            96.0
36                   37.0         Fuller Park                         3.2                              51.2                         33.9                                          26.6                              44.9               10432            97.0
53                   54.0           Riverdale                         5.8                              56.5                         34.6                                          27.5                              51.5                8201            98.0

### Problem 3: List all case numbers for crimes  involving minors?

In [9]:
chicago_crime

           ID CASE_NUMBER                    DATE                     BLOCK  IUCR                      PRIMARY_TYPE                                  DESCRIPTION          LOCATION_DESCRIPTION  ARREST  DOMESTIC  BEAT  DISTRICT  WARD  COMMUNITY_AREA_NUMBER FBICODE  X_COORDINATE  Y_COORDINATE  YEAR               UPDATEDON   LATITUDE  LONGITUDE                       LOCATION
0     3512276    HK587712  08/28/2004 05:50:56 PM        047XX S KEDZIE AVE   890                             THEFT                                FROM BUILDING            SMALL RETAIL STORE   False     False   911         9  14.0                   58.0       6     1155838.0     1873050.0  2004  02/10/2018 03:50:01 PM  41.807441 -87.703956    (41.8074405, -87.703955849)
1     3406613    HK456306  06/26/2004 12:40:00 PM  009XX N CENTRAL PARK AVE   820                             THEFT                               $500 AND UNDER                         OTHER   False     False  1112        11  27.0                   23.0       6     1152206.0     1906127.0  2004  02/28/2018 03:56:25 PM  41.898280 -87.716406  (41.898279962, -87.716405505)
2     8002131    HT233595  04/04/2011 05:45:00 AM        043XX S WABASH AVE   820                             THEFT                               $500 AND UNDER  NURSING HOME/RETIREMENT HOME   False     False   221         2   3.0                   38.0       6     1177436.0     1876313.0  2011  02/10/2018 03:50:01 PM  41.815933 -87.624642  (41.815933131, -87.624642127)
3     7903289    HT133522  12/30/2010 04:30:00 PM      083XX S KINGSTON AVE   840                             THEFT                FINANCIAL ID THEFT: OVER $300                     RESIDENCE   False     False   423         4   7.0                   46.0       6     1194622.0     1850125.0  2010  02/10/2018 03:50:01 PM  41.743665 -87.562463  (41.743665322, -87.562462756)
4    10402076    HZ138551  02/02/2016 07:30:00 PM           033XX W 66TH ST   820                             THEFT                               $500 AND UNDER                         ALLEY   False     False   831         8  15.0                   66.0       6     1155240.0     1860661.0  2016  02/10/2018 03:50:01 PM  41.773455 -87.706480  (41.773455295, -87.706480471)
..        ...         ...                     ...                       ...   ...                               ...                                          ...                           ...     ...       ...   ...       ...   ...                    ...     ...           ...           ...   ...                     ...        ...        ...                            ...
528  10453948    HZ192829  03/01/2016 12:00:00 AM           028XX E 79TH ST  1055                 HUMAN TRAFFICKING                        INVOLUNTARY SERVITUDE                     APARTMENT   False     False   422         4   7.0                   46.0      26     1196679.0     1853139.0  2016  02/10/2018 03:50:01 PM  41.751885 -87.554826  (41.751885152, -87.554825997)
529  10397129    HZ133234  01/29/2016 03:30:00 PM       006XX W HARRISON ST  5114                    NON - CRIMINAL                            FOID - REVOCATION                        STREET   False     False   124         1   2.0                   28.0      26     1172257.0     1897564.0  2016  02/10/2018 03:50:01 PM  41.874363 -87.643013  (41.874363279, -87.643013039)
530   3269495    HJ747227  11/08/2003 04:54:15 PM           012XX W 81ST ST   510                         RITUALISM  AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY                         OTHER   False     False   612         6  21.0                   71.0     04B     1169648.0     1851076.0  2003  02/28/2018 03:56:25 PM  41.746852 -87.653941  (41.746852486, -87.653941385)
531  10840565    JA143710  02/06/2017 01:20:00 PM        009XX N KARLOV AVE  5073  NON-CRIMINAL (SUBJECT SPECIFIED)       NOTIFICATION OF CIVIL NO CONTACT ORDER                     RESIDENCE   False      True  1111        11  37.0                   23.0      26     1148881.0     1905963.0  2017  02/14/2017 03:49:42 PM  41.897895 -87.728622   (41.89789489, -87.728622316)
532   1326195     G021609  01/11/2001 02:30:41 AM       087XX S ESCANABA AV  9901                 DOMESTIC VIOLENCE                            DOMESTIC VIOLENCE                     APARTMENT    True      True   423         4   NaN                    NaN     08B     1196869.0     1847416.0  2001  08/17/2015 03:03:40 PM  41.736176 -87.554320   (41.73617608, -87.554319607)

[533 rows x 22 columns]

In [10]:
chicago_crime["DESCRIPTION"].str.contains("MINOR").value_counts()

False    531
True       2
Name: DESCRIPTION, dtype: int64

In [11]:
chicago_crime[chicago_crime["DESCRIPTION"].str.contains("MINOR")]

          ID CASE_NUMBER                    DATE                     BLOCK  IUCR          PRIMARY_TYPE                    DESCRIPTION LOCATION_DESCRIPTION  ARREST  DOMESTIC  BEAT  DISTRICT  WARD  COMMUNITY_AREA_NUMBER FBICODE  X_COORDINATE  Y_COORDINATE  YEAR               UPDATEDON   LATITUDE  LONGITUDE                       LOCATION
514  3987219    HL266884  03/31/2005 07:30:00 PM          024XX N CLARK ST  2210  LIQUOR LAW VIOLATION  SELL/GIVE/DEL LIQUOR TO MINOR    CONVENIENCE STORE    True     False  2333        19  43.0                    7.0      22     1172680.0     1916483.0  2005  02/28/2018 03:56:25 PM  41.926269 -87.640899  (41.926268719, -87.640899336)
515  3266814    HK238408  03/13/2004 10:30:00 PM  093XX S STONY ISLAND AVE  2230  LIQUOR LAW VIOLATION   ILLEGAL CONSUMPTION BY MINOR                ALLEY    True     False   413         4   8.0                   48.0      22     1188539.0     1843379.0  2004  02/28/2018 03:56:25 PM  41.725301 -87.584966   (41.72530099, -87.584965887)

### Problem 4: List all kidnapping crimes involving a child?

In [12]:
chicago_crime["DESCRIPTION"].str.contains("CHILD").value_counts()

False    530
True       3
Name: DESCRIPTION, dtype: int64

In [13]:
df = chicago_crime[chicago_crime["DESCRIPTION"].str.contains("CHILD")]
df

          ID CASE_NUMBER                    DATE                 BLOCK  IUCR                PRIMARY_TYPE                     DESCRIPTION               LOCATION_DESCRIPTION  ARREST  DOMESTIC  BEAT  DISTRICT  WARD  COMMUNITY_AREA_NUMBER FBICODE  X_COORDINATE  Y_COORDINATE  YEAR               UPDATEDON   LATITUDE  LONGITUDE                       LOCATION
500  5766654    HN567387  09/02/2007 11:14:00 PM   026XX W BELMONT AVE  1754  OFFENSE INVOLVING CHILDREN  AGG SEX ASSLT OF CHILD FAM MBR  CHURCH/SYNAGOGUE/PLACE OF WORSHIP   False     False  1411        14   1.0                   21.0       2     1158166.0     1921161.0  2007  02/28/2018 03:56:25 PM  41.939415 -87.694103  (41.939414712, -87.694103222)
501  6986273    HR391350  06/23/2009 06:26:00 PM     015XX S KOLIN AVE  1753  OFFENSE INVOLVING CHILDREN   SEX ASSLT OF CHILD BY FAM MBR                          APARTMENT   False      True  1012        10  24.0                   29.0       2     1147638.0     1892092.0  2009  02/28/2018 03:56:25 PM  41.859855 -87.733544  (41.859855212, -87.733543816)
520  5276766    HN144152  01/26/2007 10:05:00 AM  050XX W VAN BUREN ST  1792                  KIDNAPPING        CHILD ABDUCTION/STRANGER                             STREET   False     False  1533        15  29.0                   25.0      20     1143050.0     1897546.0  2007  02/28/2018 03:56:25 PM  41.874908 -87.750249  (41.874908413, -87.750249307)

In [14]:
df[df["PRIMARY_TYPE"] == "KIDNAPPING"]

          ID CASE_NUMBER                    DATE                 BLOCK  IUCR PRIMARY_TYPE               DESCRIPTION LOCATION_DESCRIPTION  ARREST  DOMESTIC  BEAT  DISTRICT  WARD  COMMUNITY_AREA_NUMBER FBICODE  X_COORDINATE  Y_COORDINATE  YEAR               UPDATEDON   LATITUDE  LONGITUDE                       LOCATION
520  5276766    HN144152  01/26/2007 10:05:00 AM  050XX W VAN BUREN ST  1792   KIDNAPPING  CHILD ABDUCTION/STRANGER               STREET   False     False  1533        15  29.0                   25.0      20     1143050.0     1897546.0  2007  02/28/2018 03:56:25 PM  41.874908 -87.750249  (41.874908413, -87.750249307)

### Problem 5: What kind of crimes were recorded at schools?

In [15]:
chicago_crime["LOCATION_DESCRIPTION"].str.contains("SCHOOL").value_counts()

False    521
True      12
Name: LOCATION_DESCRIPTION, dtype: int64

In [16]:
schools_crime = chicago_crime[chicago_crime["LOCATION_DESCRIPTION"].str.contains("SCHOOL")]
schools_crime

           ID CASE_NUMBER                    DATE                                BLOCK  IUCR            PRIMARY_TYPE                     DESCRIPTION       LOCATION_DESCRIPTION  ARREST  DOMESTIC  BEAT  DISTRICT  WARD  COMMUNITY_AREA_NUMBER FBICODE  X_COORDINATE  Y_COORDINATE  YEAR               UPDATEDON   LATITUDE  LONGITUDE                       LOCATION
118   4006321    HL353697  05/04/2005 12:10:00 PM                  077XX S BURNHAM AVE   460                 BATTERY                          SIMPLE    SCHOOL, PUBLIC, GROUNDS   False     False   421         4   7.0                   43.0     08B     1196066.0     1854156.0  2005  02/28/2018 03:56:25 PM  41.754691 -87.557039  (41.754691074, -87.557038686)
121   4430638    HL725506  11/09/2005 01:00:00 PM                048XX N FRANCISCO AVE   484                 BATTERY     PRO EMP HANDS NO/MIN INJURY   SCHOOL, PUBLIC, BUILDING    True     False  2031        20  40.0                    4.0     08B     1156348.0     1932071.0  2005  02/28/2018 03:56:25 PM  41.969389 -87.700489   (41.96938944, -87.700488807)
141   6644618    HP716225  12/04/2008 11:55:00 AM  030XX S DR MARTIN LUTHER KING JR DR   460                 BATTERY                          SIMPLE   SCHOOL, PUBLIC, BUILDING   False     False  2112         1   2.0                   35.0     08B     1179306.0     1885032.0  2008  02/28/2018 03:56:25 PM  41.839816 -87.617516  (41.839816207, -87.617516172)
166   2341955    HH639427  09/10/2002 06:45:00 PM                   005XX N WALLER AVE   460                 BATTERY                          SIMPLE   SCHOOL, PUBLIC, BUILDING   False     False  1512        15  29.0                   25.0     08B     1138238.0     1903181.0  2002  02/28/2018 03:56:25 PM  41.890460 -87.767781  (41.890459933, -87.767780886)
183  11110571    JA460432  10/05/2017 02:35:00 PM                    076XX S HOMAN AVE   460                 BATTERY                          SIMPLE    SCHOOL, PUBLIC, GROUNDS   False     False   835         8  18.0                   70.0     08B     1155024.0     1853614.0  2017  02/10/2018 03:50:01 PM  41.754122 -87.707460  (41.754121535, -87.707460248)
220   7399281    HS200939  03/10/2010 02:50:00 PM                053XX W CONGRESS PKWY  1320         CRIMINAL DAMAGE                      TO VEHICLE    SCHOOL, PUBLIC, GROUNDS   False     False  1522        15  29.0                   25.0      14     1140822.0     1897164.0  2010  02/10/2018 03:50:01 PM  41.873901 -87.758439  (41.873901397, -87.758439102)
263   3530721    HK577020  08/23/2004 09:24:29 PM                  016XX W JONQUIL TER  2024               NARCOTICS             POSS: HEROIN(WHITE)    SCHOOL, PUBLIC, GROUNDS    True     False  2422        24  49.0                    1.0      18     1163893.0     1951001.0  2004  02/10/2018 03:50:01 PM  42.021178 -87.672208   (42.021177601, -87.67220843)
265   7502426    HS305355  05/13/2010 11:00:00 AM                035XX S WASHTENAW AVE  1821               NARCOTICS  MANU/DEL:CANNABIS 10GM OR LESS   SCHOOL, PUBLIC, BUILDING    True     False   913         9  12.0                   58.0      18     1158944.0     1880896.0  2010  02/10/2018 03:50:01 PM  41.828908 -87.692349  (41.828907913, -87.692349187)
364   8082600    HT315369  05/26/2011 10:15:00 AM                     032XX W ADAMS ST   545                 ASSAULT     PRO EMP HANDS NO/MIN INJURY    SCHOOL, PUBLIC, GROUNDS   False     False  1124        11  28.0                   27.0     08A     1154752.0     1898890.0  2011  02/04/2016 06:33:39 AM  41.878370 -87.707248  (41.878370307, -87.707248137)
471   7174283    HR585012  10/13/2009 08:30:00 AM                      043XX W 79TH ST  1330       CRIMINAL TRESPASS                         TO LAND    SCHOOL, PUBLIC, GROUNDS    True     False   834         8  13.0                   70.0      26     1148764.0     1851854.0  2009  02/28/2018 03:56:25 PM  41.749414 -87.730447  (41.749414464, -87.730446597)
498   2075734    HH292682  04/05/2002 06:50:00 PM                 016XX W BRYN MAWR AV  2850  PUBLIC PEACE VIOLATION                     BOMB THREAT  SCHOOL, PRIVATE, BUILDING   False     False  2012        20   NaN                    NaN      26           NaN           NaN  2002  08/17/2015 03:03:40 PM        NaN        NaN                            NaN
499   1806896     G635735  10/22/2001 03:36:05 PM                 0000X N HERMITAGE AV  2850  PUBLIC PEACE VIOLATION                     BOMB THREAT   SCHOOL, PUBLIC, BUILDING    True     False  1333        12   NaN                    NaN      26     1164687.0     1900646.0  2001  08/17/2015 03:03:40 PM  41.882984 -87.670719  (41.882984246, -87.670719218)

In [17]:
schools_crime.groupby("PRIMARY_TYPE").count()

                        ID  CASE_NUMBER  DATE  BLOCK  IUCR  DESCRIPTION  LOCATION_DESCRIPTION  ARREST  DOMESTIC  BEAT  DISTRICT  WARD  COMMUNITY_AREA_NUMBER  FBICODE  X_COORDINATE  Y_COORDINATE  YEAR  UPDATEDON  LATITUDE  LONGITUDE  LOCATION
PRIMARY_TYPE
ASSAULT                  1            1     1      1     1            1                     1       1         1     1         1     1                      1        1             1             1     1          1         1          1         1
BATTERY                  5            5     5      5     5            5                     5       5         5     5         5     5                      5        5             5             5     5          5         5          5         5
CRIMINAL DAMAGE          1            1     1      1     1            1                     1       1         1     1         1     1                      1        1             1             1     1          1         1          1         1
CRIMINAL TRESPASS        1            1     1      1     1            1                     1       1         1     1         1     1                      1        1             1             1     1          1         1          1         1
NARCOTICS                2            2     2      2     2            2                     2       2         2     2         2     2                      2        2             2             2     2          2         2          2         2
PUBLIC PEACE VIOLATION   2            2     2      2     2            2                     2       2         2     2         2     0                      0        2             1             1     2          2         1          1         1

### Problem 6: List the average safety score for all types of schools

In [18]:
chicago_schools

,School ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street Address,City,State,ZIP Code,Phone Number,Link,Network Manager,Collaborative Name,Adequate Yearly Progress Made?,Track Schedule,CPS Performance Policy Status,CPS Performance Policy Level,HEALTHY_SCHOOL_CERTIFIED,Safety Icon,SAFETY_SCORE,Family Involvement Icon,Family Involvement Score,Environment Icon,Environment Score,Instruction Icon,Instruction Score,Leaders Icon,Leaders Score,Teachers Icon,Teachers Score,Parent Engagement Icon,Parent Engagement Score,Parent Environment Icon,Parent Environment Score,AVERAGE_STUDENT_ATTENDANCE,Rate of Misconducts (per 100 students),Average Teacher Attendance,Individualized Education Program Compliance Rate,Pk-2 Literacy %,Pk-2 Math %,Gr3-5 Grade Level Math %,Gr3-5 Grade Level Read %,Gr3-5 Keep Pace Read %,Gr3-5 Keep Pace Math %,Gr6-8 Grade Level Math %,Gr6-8 Grade Level Read %,Gr6-8 Keep Pace Math%,Gr6-8 Keep Pace Read %,Gr-8 Explore Math %,Gr-8 Explore Read %,ISAT Exceeding Math %,ISAT Exceeding Reading %,ISAT Value Add Math,ISAT Value Add Read,ISAT Value Add Color Math,ISAT Value Add Color Read,Students Taking Algebra %,Students Passing Algebra %,9th Grade EXPLORE (2009),9th Grade EXPLORE (2010),10th Grade PLAN (2009),10th Grade PLAN (2010),Net Change EXPLORE and PLAN,11th Grade Average ACT (2011),Net Change PLAN and ACT,College Eligibility %,Graduation Rate %,College Enrollment Rate %,COLLEGE_ENROLLMENT,General Services Route,Freshman on Track Rate %,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,NORTH-NORTHWEST SIDE COLLABORATIVE,No,Standard,Not on Probation,Level 1,Yes,Very Strong,99.0,Very Strong,99,Strong,74.0,Strong,66.0,Strong,65,Strong,70,Strong,56,Average,47,96.00%,2.0,96.40%,95.80%,80.1,43.3,89.6,84.9,60.7,62.6,81.9,85.2,52,62.4,66.3,77.9,69.7,64.4,0.2,0.9,Yellow,Green,67.1,54.5,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,813,33,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,SOUTH SIDE COLLABORATIVE,No,Track_E,Not on Probation,Level 1,No,Average,54.0,Strong,66,Strong,74.0,Very Strong,84.0,Strong,63,Strong,76,Weak,46,Average,50,95.60%,15.7,95.30%,100.00%,62.4,51.7,21.9,15.1,29,42.8,38.5,27.4,44.8,42.7,14.1,34.4,16.8,16.5,0.7,1.4,Green,Green,17.2,27.3,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,521,46,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,SOUTHWEST SIDE COLLABORATIVE,No,Standard,Not on Probation,Level 2,No,Strong,61.0,NDA,NDA,Average,50.0,Weak,36.0,NDA,NDA,NDA,NDA,Average,47,Weak,41,95.70%,2.3,94.70%,98.30%,53.7,26.6,38.3,34.7,43.7,57.3,48.8,39.2,46.8,44,7.5,21.9,18.3,15.5,-0.9,-1.0,Red,Red,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,1324,44,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,SOUTHWEST SIDE COLLABORATIVE,No,Track_E,Not on Probation,Level 1,No,Average,56.0,Average,44,Average,45.0,Weak,37.0,Strong,65,Average,48,Average,53,Strong,58,95.50%,10.4,95.80%,100.00%,76.9,NDA,26,24.7,61.8,49.7,39.2,27.2,69.7,60.6,9.1,18.2,11.1,9.6,0.9,2.4,Green,Green,42.9,25,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,556,42,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,SOUTHWEST SIDE COLLABORATIVE,NDA,Standard,Not on Probation,Not Enough Data,Yes,Average,49.0,Strong,60,Strong,60.0,Average,55.0,Average,45,Average,54,Average,53,Average,49,93.30%,15.6,96.90%,100.00%,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NaN,NaN,NaN,NaN,NDA,NDA,NDA,NDA,14.6,14.8,NDA,16,1.4,NDA,NDA,NDA,NDA,NDA,302,40,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,610172,William T Sherman Elementary School,ES,1000 W 52nd St,Chicago,IL,60609,(773) 535-1757,http://schoolreports.cps.edu/SchoolProgressRep...,AUSL Schools,SOUTHWEST SIDE COLLABORATIVE,No,Track_E,Probation,Level 3,No,Weak,32.0,NDA,NDA,Average,46.0,Average,55.0,NDA,NDA,NDA,NDA,Average,49,Average,52,92.30%,230.6,95.00%,100.00%,NDA,NDA,21.8,26.8,41.1,42,30.1,19.7,46.3,35.2,7.5,15.1,8.1,1.7,0.7,-1.3,Green,Red,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,462,45,NDA,1170500.817,1870373.159,41.799788,-87.650255,61,NEW CITY,16,9,"(41.79978772, -87.65025483)"
562,609844,William W Carter Elementary School,ES,5740 S Michigan Ave,Chicago,IL,60637,(773) 535-0860,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,SOUTH SIDE COLLABORATIVE,No,Standard,Probation,Level 3,No,Very Weak,13.0,Average,49,Weak,33.0,Weak,35.0,Average,56,Strong,62,Weak,46,Weak,46,91.20%,27.0,95.90%,100.00%,72.3,46.6,21.8,17.8,50.5,57.6,24.8,24.8,44.9,48.6,13.3,33.3,6.8,5.5,-0.2,-1.2,Yellow,Red,42.4,50,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,371,42,NDA,1178101.365,1866810.123,41.789841,-87.622490,40,WASHINGTON PARK,20,2,"(41.78984129, -87.62248974)"
563,610088,Wolfgang A Mozart Elementary School,ES,2200 N Hamlin Ave,Chicago,IL,60647,(773) 534-4160,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,NORTH-NORTHWEST SIDE COLLABORATIVE,No,Standard,Not on Probation,Level 2,No,Average,41.0,NDA,NDA,Average,56.0,Weak,32.0,NDA,NDA,NDA,NDA,Average,50,Strong,54,95.20%,3.6,96.40%,100.00%,39.8,10.1,28.7,34.2,51.1,48.2,46.7,32.6,74.7,64,NDA,NDA,12.0,11.0,0.4,0.3,Yellow,Yellow,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,748,34,NDA,1150644.396,1914368.955,41.920927,-87.721925,22,LOGAN SQUARE,35,25,"(41.92092734, -87.72192541)"
564,609977,Woodlawn Community Elementary School,ES,6657 S Kimbark Ave,Chicago,IL,60637,(773) 535-0801,http://schoolreports.cps.edu/SchoolProgressRep...,Burnham Park Elementary Network,SOUTH SIDE COLLABORATIVE,No,Standard,Not on Probation,Level 2,No,Strong,70.0,NDA,NDA,Very Strong,80.0,Strong,66.0,NDA,NDA,NDA,NDA,Strong,59,Strong,54,93.90%,12.4,94.30%,100.00%,57.7,NDA,43.9,45.8,60,62.4,75,30,88.9,55.6,NDA,NDA,17.5,22.2,0.1,0.0,Yellow,Yellow,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,238,46,NDA,1185825.188,1860883.579,41.773400,-87.594356,42,WOODLAWN,5,3,"(41.77339962, -87.59435584)"
565,610392,World Language Academy High School,HS,3120 S Kostner Ave,Chicago,IL,60623,(773) 535-4334,http://schoolreports.cps.edu/SchoolProgressRep...,West Side High School Network,WEST SIDE COLLABORATIVE,No,Track_E,Not on Probation,Level 2,No,Average,51.0,Weak,33,Average,49.0,Average,47.0,Average,49,Average,49,Average,50,Weak,46,91.60%,4.0,96.00%,100.00%,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NDA,NaN,NaN,NaN,NaN,NDA,NDA,NDA,NDA,12.9,13.4,14.6,14.1,1.2,16.2,1.6,14.6,69.4,48.1,382,37,76,1147521.302,1883405.128,41.836020,-87.734195,30,SOUTH LAWNDALE,22,10,"(41.83601953, -87.73419465)"

In [19]:
chicago_schools["Elementary, Middle, or High School"].value_counts()

ES    462
HS     93
MS     11
Name: Elementary, Middle, or High School, dtype: int64

In [20]:
chicago_schools.groupby(by="Elementary, Middle, or High School")["SAFETY_SCORE"].mean()

Elementary, Middle, or High School
ES    49.520384
HS    49.623529
MS    48.000000
Name: SAFETY_SCORE, dtype: float64

### Problem 7: List 5 community areas with highest % of households below poverty line

In [21]:
census_data

    COMMUNITY_AREA_NUMBER COMMUNITY_AREA_NAME  PERCENT OF HOUSING CROWDED  PERCENT HOUSEHOLDS BELOW POVERTY  PERCENT AGED 16+ UNEMPLOYED  PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA  PERCENT AGED UNDER 18 OR OVER 64  PER_CAPITA_INCOME   HARDSHIP_INDEX
0                     1.0         Rogers Park                         7.7                              23.6                          8.7                                          18.2                              27.5               23939            39.0
1                     2.0          West Ridge                         7.8                              17.2                          8.8                                          20.8                              38.5               23040            46.0
2                     3.0              Uptown                         3.8                              24.0                          8.9                                          11.8                              22.2               35787            20.0
3                     4.0      Lincoln Square                         3.4                              10.9                          8.2                                          13.4                              25.5               37524            17.0
4                     5.0        North Center                         0.3                               7.5                          5.2                                           4.5                              26.2               57123             6.0
..                    ...                 ...                         ...                               ...                          ...                                           ...                               ...                 ...             ...
73                   74.0     Mount Greenwood                         1.0                               3.4                          8.7                                           4.3                              36.8               34381            16.0
74                   75.0         Morgan Park                         0.8                              13.2                         15.0                                          10.8                              40.3               27149            30.0
75                   76.0              O'Hare                         3.6                              15.4                          7.1                                          10.9                              30.3               25828            24.0
76                   77.0           Edgewater                         4.1                              18.2                          9.2                                           9.7                              23.8               33385            19.0
77                    NaN             CHICAGO                         4.7                              19.7                         12.9                                          19.5                              33.5               28202             NaN

[78 rows x 9 columns]

In [22]:
census_data.sort_values(by="PERCENT HOUSEHOLDS BELOW POVERTY", ascending=False).head()

    COMMUNITY_AREA_NUMBER COMMUNITY_AREA_NAME  PERCENT OF HOUSING CROWDED  PERCENT HOUSEHOLDS BELOW POVERTY  PERCENT AGED 16+ UNEMPLOYED  PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA  PERCENT AGED UNDER 18 OR OVER 64  PER_CAPITA_INCOME   HARDSHIP_INDEX
53                   54.0           Riverdale                         5.8                              56.5                         34.6                                          27.5                              51.5                8201            98.0
36                   37.0         Fuller Park                         3.2                              51.2                         33.9                                          26.6                              44.9               10432            97.0
67                   68.0           Englewood                         3.8                              46.6                         28.0                                          28.5                              42.5               11888            94.0
28                   29.0      North Lawndale                         7.4                              43.1                         21.2                                          27.6                              42.7               12034            87.0
26                   27.0  East Garfield Park                         8.2                              42.4                         19.6                                          21.3                              43.2               12961            83.0

### Problem 8: Which community area(number) is most crime prone?

In [23]:
chicago_crime

           ID CASE_NUMBER                    DATE                     BLOCK  IUCR                      PRIMARY_TYPE                                  DESCRIPTION          LOCATION_DESCRIPTION  ARREST  DOMESTIC  BEAT  DISTRICT  WARD  COMMUNITY_AREA_NUMBER FBICODE  X_COORDINATE  Y_COORDINATE  YEAR               UPDATEDON   LATITUDE  LONGITUDE                       LOCATION
0     3512276    HK587712  08/28/2004 05:50:56 PM        047XX S KEDZIE AVE   890                             THEFT                                FROM BUILDING            SMALL RETAIL STORE   False     False   911         9  14.0                   58.0       6     1155838.0     1873050.0  2004  02/10/2018 03:50:01 PM  41.807441 -87.703956    (41.8074405, -87.703955849)
1     3406613    HK456306  06/26/2004 12:40:00 PM  009XX N CENTRAL PARK AVE   820                             THEFT                               $500 AND UNDER                         OTHER   False     False  1112        11  27.0                   23.0       6     1152206.0     1906127.0  2004  02/28/2018 03:56:25 PM  41.898280 -87.716406  (41.898279962, -87.716405505)
2     8002131    HT233595  04/04/2011 05:45:00 AM        043XX S WABASH AVE   820                             THEFT                               $500 AND UNDER  NURSING HOME/RETIREMENT HOME   False     False   221         2   3.0                   38.0       6     1177436.0     1876313.0  2011  02/10/2018 03:50:01 PM  41.815933 -87.624642  (41.815933131, -87.624642127)
3     7903289    HT133522  12/30/2010 04:30:00 PM      083XX S KINGSTON AVE   840                             THEFT                FINANCIAL ID THEFT: OVER $300                     RESIDENCE   False     False   423         4   7.0                   46.0       6     1194622.0     1850125.0  2010  02/10/2018 03:50:01 PM  41.743665 -87.562463  (41.743665322, -87.562462756)
4    10402076    HZ138551  02/02/2016 07:30:00 PM           033XX W 66TH ST   820                             THEFT                               $500 AND UNDER                         ALLEY   False     False   831         8  15.0                   66.0       6     1155240.0     1860661.0  2016  02/10/2018 03:50:01 PM  41.773455 -87.706480  (41.773455295, -87.706480471)
..        ...         ...                     ...                       ...   ...                               ...                                          ...                           ...     ...       ...   ...       ...   ...                    ...     ...           ...           ...   ...                     ...        ...        ...                            ...
528  10453948    HZ192829  03/01/2016 12:00:00 AM           028XX E 79TH ST  1055                 HUMAN TRAFFICKING                        INVOLUNTARY SERVITUDE                     APARTMENT   False     False   422         4   7.0                   46.0      26     1196679.0     1853139.0  2016  02/10/2018 03:50:01 PM  41.751885 -87.554826  (41.751885152, -87.554825997)
529  10397129    HZ133234  01/29/2016 03:30:00 PM       006XX W HARRISON ST  5114                    NON - CRIMINAL                            FOID - REVOCATION                        STREET   False     False   124         1   2.0                   28.0      26     1172257.0     1897564.0  2016  02/10/2018 03:50:01 PM  41.874363 -87.643013  (41.874363279, -87.643013039)
530   3269495    HJ747227  11/08/2003 04:54:15 PM           012XX W 81ST ST   510                         RITUALISM  AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY                         OTHER   False     False   612         6  21.0                   71.0     04B     1169648.0     1851076.0  2003  02/28/2018 03:56:25 PM  41.746852 -87.653941  (41.746852486, -87.653941385)
531  10840565    JA143710  02/06/2017 01:20:00 PM        009XX N KARLOV AVE  5073  NON-CRIMINAL (SUBJECT SPECIFIED)       NOTIFICATION OF CIVIL NO CONTACT ORDER                     RESIDENCE   False      True  1111        11  37.0                   23.0      26     1148881.0     1905963.0  2017  02/14/2017 03:49:42 PM  41.897895 -87.728622   (41.89789489, -87.728622316)
532   1326195     G021609  01/11/2001 02:30:41 AM       087XX S ESCANABA AV  9901                 DOMESTIC VIOLENCE                            DOMESTIC VIOLENCE                     APARTMENT    True      True   423         4   NaN                    NaN     08B     1196869.0     1847416.0  2001  08/17/2015 03:03:40 PM  41.736176 -87.554320   (41.73617608, -87.554319607)

[533 rows x 22 columns]

In [24]:
chicago_crime.groupby(by="COMMUNITY_AREA_NUMBER")["ID"].count().sort_values(ascending=False).head(1)

COMMUNITY_AREA_NUMBER
25.0    43
Name: ID, dtype: int64

### Problem 9: Use a sub-query to find the name of the community area with highest hardship index

In [25]:
census_data.sort_values(by="HARDSHIP_INDEX").max()

COMMUNITY_AREA_NUMBER                                 77
COMMUNITY_AREA_NAME                             Woodlawn
PERCENT OF HOUSING CROWDED                          15.8
PERCENT HOUSEHOLDS BELOW POVERTY                    56.5
PERCENT AGED 16+ UNEMPLOYED                         35.9
PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA        54.8
PERCENT AGED UNDER 18 OR OVER 64                    51.5
PER_CAPITA_INCOME                                  88669
HARDSHIP_INDEX                                        98
dtype: object

In [26]:
census_data[census_data["HARDSHIP_INDEX"] == 98]

    COMMUNITY_AREA_NUMBER COMMUNITY_AREA_NAME  PERCENT OF HOUSING CROWDED  PERCENT HOUSEHOLDS BELOW POVERTY  PERCENT AGED 16+ UNEMPLOYED  PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA  PERCENT AGED UNDER 18 OR OVER 64  PER_CAPITA_INCOME   HARDSHIP_INDEX
53                   54.0           Riverdale                         5.8                              56.5                         34.6                                          27.5                              51.5                8201            98.0

### Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [27]:
chicago_crime

           ID CASE_NUMBER                    DATE                     BLOCK  IUCR                      PRIMARY_TYPE                                  DESCRIPTION          LOCATION_DESCRIPTION  ARREST  DOMESTIC  BEAT  DISTRICT  WARD  COMMUNITY_AREA_NUMBER FBICODE  X_COORDINATE  Y_COORDINATE  YEAR               UPDATEDON   LATITUDE  LONGITUDE                       LOCATION
0     3512276    HK587712  08/28/2004 05:50:56 PM        047XX S KEDZIE AVE   890                             THEFT                                FROM BUILDING            SMALL RETAIL STORE   False     False   911         9  14.0                   58.0       6     1155838.0     1873050.0  2004  02/10/2018 03:50:01 PM  41.807441 -87.703956    (41.8074405, -87.703955849)
1     3406613    HK456306  06/26/2004 12:40:00 PM  009XX N CENTRAL PARK AVE   820                             THEFT                               $500 AND UNDER                         OTHER   False     False  1112        11  27.0                   23.0       6     1152206.0     1906127.0  2004  02/28/2018 03:56:25 PM  41.898280 -87.716406  (41.898279962, -87.716405505)
2     8002131    HT233595  04/04/2011 05:45:00 AM        043XX S WABASH AVE   820                             THEFT                               $500 AND UNDER  NURSING HOME/RETIREMENT HOME   False     False   221         2   3.0                   38.0       6     1177436.0     1876313.0  2011  02/10/2018 03:50:01 PM  41.815933 -87.624642  (41.815933131, -87.624642127)
3     7903289    HT133522  12/30/2010 04:30:00 PM      083XX S KINGSTON AVE   840                             THEFT                FINANCIAL ID THEFT: OVER $300                     RESIDENCE   False     False   423         4   7.0                   46.0       6     1194622.0     1850125.0  2010  02/10/2018 03:50:01 PM  41.743665 -87.562463  (41.743665322, -87.562462756)
4    10402076    HZ138551  02/02/2016 07:30:00 PM           033XX W 66TH ST   820                             THEFT                               $500 AND UNDER                         ALLEY   False     False   831         8  15.0                   66.0       6     1155240.0     1860661.0  2016  02/10/2018 03:50:01 PM  41.773455 -87.706480  (41.773455295, -87.706480471)
..        ...         ...                     ...                       ...   ...                               ...                                          ...                           ...     ...       ...   ...       ...   ...                    ...     ...           ...           ...   ...                     ...        ...        ...                            ...
528  10453948    HZ192829  03/01/2016 12:00:00 AM           028XX E 79TH ST  1055                 HUMAN TRAFFICKING                        INVOLUNTARY SERVITUDE                     APARTMENT   False     False   422         4   7.0                   46.0      26     1196679.0     1853139.0  2016  02/10/2018 03:50:01 PM  41.751885 -87.554826  (41.751885152, -87.554825997)
529  10397129    HZ133234  01/29/2016 03:30:00 PM       006XX W HARRISON ST  5114                    NON - CRIMINAL                            FOID - REVOCATION                        STREET   False     False   124         1   2.0                   28.0      26     1172257.0     1897564.0  2016  02/10/2018 03:50:01 PM  41.874363 -87.643013  (41.874363279, -87.643013039)
530   3269495    HJ747227  11/08/2003 04:54:15 PM           012XX W 81ST ST   510                         RITUALISM  AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY                         OTHER   False     False   612         6  21.0                   71.0     04B     1169648.0     1851076.0  2003  02/28/2018 03:56:25 PM  41.746852 -87.653941  (41.746852486, -87.653941385)
531  10840565    JA143710  02/06/2017 01:20:00 PM        009XX N KARLOV AVE  5073  NON-CRIMINAL (SUBJECT SPECIFIED)       NOTIFICATION OF CIVIL NO CONTACT ORDER                     RESIDENCE   False      True  1111        11  37.0                   23.0      26     1148881.0     1905963.0  2017  02/14/2017 03:49:42 PM  41.897895 -87.728622   (41.89789489, -87.728622316)
532   1326195     G021609  01/11/2001 02:30:41 AM       087XX S ESCANABA AV  9901                 DOMESTIC VIOLENCE                            DOMESTIC VIOLENCE                     APARTMENT    True      True   423         4   NaN                    NaN     08B     1196869.0     1847416.0  2001  08/17/2015 03:03:40 PM  41.736176 -87.554320   (41.73617608, -87.554319607)

[533 rows x 22 columns]

In [28]:
chicago_crime.groupby(by="COMMUNITY_AREA_NUMBER").count()

                       ID  CASE_NUMBER  DATE  BLOCK  IUCR  PRIMARY_TYPE  DESCRIPTION  LOCATION_DESCRIPTION  ARREST  DOMESTIC  BEAT  DISTRICT  WARD  FBICODE  X_COORDINATE  Y_COORDINATE  YEAR  UPDATEDON  LATITUDE  LONGITUDE  LOCATION
COMMUNITY_AREA_NUMBER
1.0                     6            6     6      6     6             6            6                     6       6         6     6         6     6        6             6             6     6          6         6          6         6
2.0                     7            7     7      7     7             7            7                     7       7         7     7         7     7        7             7             7     7          7         7          7         7
3.0                     4            4     4      4     4             4            4                     4       4         4     4         4     4        4             4             4     4          4         4          4         4
4.0                     3            3     3      3     3             3            3                     3       3         3     3         3     3        3             3             3     3          3         3          3         3
5.0                     4            4     4      4     4             4            4                     4       4         4     4         4     4        4             4             4     4          4         4          4         4
...                    ..          ...   ...    ...   ...           ...          ...                   ...     ...       ...   ...       ...   ...      ...           ...           ...   ...        ...       ...        ...       ...
72.0                    4            4     4      4     4             4            4                     4       4         4     4         4     4        4             4             4     4          4         4          4         4
73.0                    3            3     3      3     3             3            3                     3       3         3     3         3     3        3             3             3     3          3         3          3         3
75.0                    1            1     1      1     1             1            1                     1       1         1     1         1     1        1             1             1     1          1         1          1         1
76.0                    4            4     4      4     4             4            4                     4       4         4     4         4     4        4             4             4     4          4         4          4         4
77.0                    2            2     2      2     2             2            2                     2       2         2     2         2     2        2             2             2     2          2         2          2         2

[70 rows x 21 columns]

In [29]:
most_crimes = chicago_crime.groupby(by="COMMUNITY_AREA_NUMBER")["ID"].count()

In [30]:
most_crimes.sort_values()

COMMUNITY_AREA_NUMBER
33.0     1
75.0     1
47.0     1
55.0     1
12.0     1
        ..
28.0    16
29.0    16
68.0    21
23.0    22
25.0    43
Name: ID, Length: 70, dtype: int64

In [31]:
census_data[census_data["COMMUNITY_AREA_NUMBER"] == 25]

    COMMUNITY_AREA_NUMBER COMMUNITY_AREA_NAME  PERCENT OF HOUSING CROWDED  PERCENT HOUSEHOLDS BELOW POVERTY  PERCENT AGED 16+ UNEMPLOYED  PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA  PERCENT AGED UNDER 18 OR OVER 64  PER_CAPITA_INCOME   HARDSHIP_INDEX
24                   25.0              Austin                         6.3                              28.6                         22.6                                          24.4                              37.9               15957            73.0